.background{
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #151526, #1b1b2e);
  background: linear-gradient(to right, #24243e, #151526, #1b1b2e); 
  font-family: helvetica;
  /* color: rgba(255, 255, 255, 0.722); */
  color: white;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container-wrapper{
  width: 80vw;
  height: 90vh;
  min-width: 1000px;
  display: flex;
  /* border-radius: 2%; */
  box-shadow: 7px 9px 25px 1px rgba(0,0,0,0.74);
}

/* Left Container */
.left-side-container{
  width: 25%;
  background: url("kobe.jpg") no-repeat;
  /* background-color: rgba(12, 12, 12, 0.941); */
  /* background-color: rgb(30, 32, 37); */
  height: 100%;
  border-radius: 2%;
  display: flex;
  justify-content: center;
  align-content: center;
}
#landing-wrapper {
  display: table;
  width: 20%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, .8));;
  background-position: center top;
  /* z-index: -100; */
  position: absolute;
  height: 90%;
  color: white;
}


/* profile stuff */
.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  z-index: 10;
}

.profile-name{
  font-size: 30px;
  font-weight: 600;
  display: inline-block;
  color: rgb(248,205,70);
  margin-bottom: 2px;
}
.profile-info{
  display: flex;
  align-self: center;
  width: 110%;
  font-size: 15px;
  font-weight: 200;
}

.right-side-container{
  width: 75%;
  background-color: black;
  height: 100%;
  border-radius: 2%;
}



.charts{
  /* background: url("bball.png") no-repeat;
  background-size: cover; */
}



.chart-area{
  background-color: black;
}

#year-select{
  background-clip:border-box;
  background-color:rgb(255, 255, 255);
  background-image:none;
  background-origin:padding-box;
  background-position-x:0%;
  background-position-y:0%;
  background-repeat-x:;background-repeat-y:;background-size:auto;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 1px 0px 0px;
  box-sizing:border-box;
  color:rgb(51, 51, 51);
  cursor:pointer;
  display:block;
  font-family:Lato, Arial, sans-serif;
  font-size:15px;
  font-weight:400;
  height:42px;
  margin-bottom:0px;
  margin-left:159.188px;
  margin-right:159.203px;
  margin-top:0px;
  outline-color:rgb(51, 51, 51);
  outline-style:none;
  outline-width:0px;
  padding-bottom:12px;
  padding-left:15px;
  padding-right:15px;
  padding-top:12px;
  position:relative;
  transition-delay:0s;
  transition-duration:0.3s;
  transition-property:all;
  transition-timing-function:ease-out;
  width:200px;
}

.pie-row #oldVsYoung .tooltip {
  position: relative;
  left: 307px;
  bottom: 497px;
  width: 175px;
  height: 175px;
  border: 4px solid rgb(219, 219, 219);
  border-radius: 50%;
  align-content: center;
  color: #909090;
}

.pie-row #oldVsYoung .tooltip .continent {
  margin-top: 40px;
  font-size: 1.1em;
  color: #646464;
}

.pie-row #oldVsYoung .tooltip .percentage {
  font-size: 1.1em;
  color: #646464;
}

.pie-row #oldVsYoung .tooltip div {
  margin-left: 1px;
  height: 30px;
}

/* #chart-area{
  background-image: url('court.png');
  background-size: 1000px 900px;
  background-repeat: no-repeat;
} */


/* .d3-tip{
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0,0,0,0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

.d3-tip:after{
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100px;
  line-height: 1;
  color: rgba(0,0,0,0.8);
  position: absolute;
  pointer-events: none;
} */







/* CSS Reset */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  color: #0073bb;
  text-decoration: none; /* no underline */
  font-weight: bold;
}

a:hover{
  text-decoration: underline;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}
