.background{
  background: #151526; /* fallback for old browsers */
  font-family: helvetica;
  color: white;
}

.container{
  display: flex;
  min-width: 1150px;
  min-height: 700px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container-wrapper{
  min-width: 1150px;
  min-height: 700px;
  background-color: black;
  display: flex;
  box-shadow: 7px 9px 25px 1px rgba(0,0,0,0.74);
}

/* Left Container */
.left-side-container{
  min-width: 300px;
  background: url("kobe.jpg") no-repeat;
  min-height: 100%;
  border-radius: 2%;
  display: flex;
  justify-content: center;
  align-content: center;
}
#landing-wrapper {
  display: table;
  width: 300px;
  /* min-width: 20%; */
  min-height: 705px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, .8));
  background-position: center top;
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#year-select{
  z-index: 100;
  border-radius: 5px;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 1px 0px 0px;
  box-sizing:border-box;
  color:rgb(51, 51, 51);
  cursor:pointer;
  font-family:Lato, Arial, sans-serif;
  font-size:15px;
  font-weight:400;
  height:42px;
  outline-color:rgb(51, 51, 51);
  outline-width:0px;
  width:200px;
}


/* profile stuff */
.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: 10;
}

.profile-name{
  font-size: 30px;
  font-weight: 600;
  color: rgb(248,205,70);
}
.profile-info{
  display: flex;
  align-self: center;
  font-size: 14px;
  font-weight: 200;
}


.my-legend{
  z-index: 100;
  width: 80px;
  position: relative;
}
.my-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
    position: absolute;
    left: 100px;
    bottom: 10px;
    }
  .my-legend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
    }
  .my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
    }
  .my-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
    }
  .my-legend a {
    color: #777;
    }

.right-side-container{
  min-width: 870px;
  background-color: black;
  min-height: 90vh;
  border-radius: 2%;
}

/* chart background */
#chart-area{
  background: url("bball.png") no-repeat;
  background-size: auto;
  width: 870px;
  background-color: black;
}


/* unused charts */
.pie-row #oldVsYoung .tooltip {
  position: relative;
  left: 307px;
  bottom: 497px;
  width: 175px;
  height: 175px;
  border: 4px solid rgb(219, 219, 219);
  border-radius: 50%;
  align-content: center;
  color: #909090;
}

.pie-row #oldVsYoung .tooltip .continent {
  margin-top: 40px;
  font-size: 1.1em;
  color: #646464;
}

.pie-row #oldVsYoung .tooltip .percentage {
  font-size: 1.1em;
  color: #646464;
}

.pie-row #oldVsYoung .tooltip div {
  margin-left: 1px;
  height: 30px;
}


/* d3 tip tools */
.d3-tip{
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0,0,0,0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

.d3-tip:after{
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100px;
  line-height: 1;
  color: rgba(0,0,0,0.8);
  position: absolute;
  pointer-events: none;
}






/*  */
/*  */
/* CSS Reset */
/*  */
/*  */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  color: #0073bb;
  text-decoration: none; /* no underline */
  font-weight: bold;
}

a:hover{
  text-decoration: underline;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}
